body {
    font-family: Arial, sans-serif;
    background-color: #0052CC;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* CONTENEDORES */
.login-container,
.menu-container,
.planes-container,
.contratar-container,
.promos-container,
.suscripciones-container,
.cancelar-container {
    background: white;
    padding: 25px;
    width: 360px;
    border-radius: 10px;
    text-align: center;
}

/* TITULOS */
h1,
h2 {
    color: #0052CC;
}

/* INPUTS */
input,
select {
    width: 100%;
    padding: 8px;
    margin: 10px 0;
}

/* BOTONES */
.btn {
    display: block;
    background: #0052CC;
    color: white;
    padding: 10px;
    margin-top: 10px;
    text-decoration: none;
    border-radius: 5px;
}

.salir {
    background: #999;
}

.cancelar {
    background: red;
}

/* TABLAS */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 15px 0;
}

table,
th,
td {
    border: 1px solid #ccc;
}

th,
td {
    padding: 8px;
}

/* PROMOCIONES */
.promo-card {
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
}

.promo-card h3 {
    color: #0052CC;
}

/* SUSCRIPCIONES */
.lista-suscripciones {
    list-style: none;
    padding: 0;
}

.lista-suscripciones li {
    background: #f2f2f2;
    padding: 10px;
    margin-bottom: 8px;
    border-radius: 5px;
}